html {
    height: 100%;
    width: 100%;
}

body {
    font-family: @body-font-family;
    overflow-x: hidden;

    // Make room for fixed navbar on smartphones
    @media (max-width: @screen-xs-max) {
        margin-top: 60px;
    }
}

h1 {
    color: @header-color;
    font-size: 36px;
    line-height: 49px;
    margin: 15px 0;
}

.page-wrapper {
    margin-bottom: @page-content-vertical-margin;
    margin-top: @page-content-vertical-margin;
    min-height: 80vh;

    @media (max-width: @screen-xs-max) {
        margin-top: 85px;
        padding-left: 0;
        padding-right: 0;
    }

    h1:first-of-type {
        margin-top: 0;
    }
}

#aside-left {
    padding-left: 32px;

    .submenu {
        display: block;
        margin-top: 0;
        position: relative;
        z-index: 1;
    }
}

.btn-default {
    border-width: 2px;
}

@media (max-width: @screen-xs-max) {
    #main {
        padding: 0 10px;
    }

    #aside-left {
        .submenu {
            margin-left: 0;
            padding: 15px;
        }
    }
}
