.page-header {
    margin-top: 25px;

    &-home-link img {
        // Account for whitespace in logo
        margin-left: @header-left-padding - 5;

        max-width: 500px;

        @media (max-width: @screen-xs-max) {
            max-width: 95%;
            margin-left: 0;
        }
    }
}
