.legend-marker-icon {
    background-color: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 0;
    height: 20px;
    margin: 0 5px;
    width: 20px;
}

.legend {
    position: absolute;
    z-index: 5000;

    // Flush left on smaller screens
    @media (max-width: @screen-xs-max) {
        left: 0;
    }

    &-button {
        float: right;
        margin-right: 15px;

        &:first-of-type {
            margin-right: 0;
        }
    }

    &-marker {
        background: black;
        border-radius: 10px;
        display: inline-block;
        height: 13px;
        margin-left: 9px;
        margin-right: 9px;
        width: 13px;

        &-organizing {
            .legend-marker-icon();
            background-image: data-uri("../img/legend-organizing.png");
        }

        &-priority {
            .legend-marker-icon();
            background-image: data-uri("../img/legend-priority.png");
            height: 15px;
            margin: 0 7.5px;
            width: 15px;
        }

        &-priority-organizing {
            .legend-marker-icon();
            background-image: data-uri("../img/legend-priority-organizing.png");
            height: 25px;
            margin: 0 2.5px;
            width: 25px;
        }

        &-library {
            background-color: @lot-library-color;
        }

        &-post_office {
            background-color: @lot-post-office-color;
        }

        &-public_housing {
            background-color: @lot-public-housing-color;
        }

        &-vacant_lot {
            background-color: @lot-vacant-lot-color;
        }

        &-waterfront {
            background-color: @lot-waterfront-color;
        }

        &-project {
            background: @lot-access-color;
        }
    }

    &-label {
        display: inline;
        font-weight: 300;
        line-height: 22px;
        text-transform: capitalize;
        vertical-align: middle;

        &-priority-organizing {
            display: inline-block;
            margin-top: -5px;
        }
    }

    @media print {
        display: none;
    }
}
