#mc_embed_signup {
    label {
        display: block;
        font-size: 20px;
        font-weight: normal;
    }

    .form-row {
        .make-row(0);
    }

    .email {
        background: transparent;
        border: 1px solid @footer-text-color;
        border-radius: 0;
        color: @footer-text-color;
        font-size: 12px;
        line-height: 20px;
        padding: 5px;
        width: 100%;
    }

    .btn {
        background: none;
        float: right;
        margin-top: 5px;
    }
}
