.map-page {
    height: 100%;
    width: 100%;

    #map {
        height: 100%;
        width: 100%;

        @media print {
            height: 10cm;
        }
    }
}

@news-button-height: 50px;
@news-button-width: 95px;
@star-height: 150px;
@star-width: 143px;
@news-button-z-index: @ui-z-index + 100;

.btn-show-details {
    .make-md-column(4);
    .button-variant(@foreground-color; white; @foreground-color);
}

.details-container {
    display: none;
    margin-top: 15px;
}

.overlaymenu {
    &-admin .overlaymenu-menu-content {
        min-height: 10px;
    }

    &-details {
        .details-actions {
            .make-row(0);
            display: block;
            margin-left: 8%;
        }

        .details-show-owners {
            .btn-show-details();
        }

        .details-show-organizing {
            .btn-show-details();
        }

        .details-overview {
            min-height: 100px;
            width: 100%;

            .details-layer-list {
                list-style: none;
                padding-left: 0;

                &-item {
                    margin-bottom: 15px;
                }
            }

            .details-owner-list {
                .details-container();
            }

            .details-organizing {
                .make-row(0);
                .details-container();

                &-text {
                    .make-md-column(10);
                    .make-md-column-offset(1);
                }
            }
        }
    }

    @media (max-width: @screen-xs-max) {
        width: 80%;

        .overlaymenu-tip-container {
            display: none;
        }
    }
}

.map-printable-details {
    .details-actions,
    .details-owner-list {
        display: none;
    }

    ul {
        list-style: none;
    }

    a {
        color: black;
    }

    .details-organizing {
        margin-left: 25px;
    }
}
