.map-page {
    height: 100%;
    width: 100%;

    @media (max-width: @screen-xs-max) {
        margin: 0;

        .navbar {
            background-color: transparent;
            padding-top: 0;
        }

        .navbar-default {
            border: 0;
        }

        .navbar-collapse {
            margin-top: 75px;

            &.collapsing,
            &.in {
                background-color: white;
            }
        }
    }

    #map {
        height: 100%;
        width: 100%;

        @media print {
            height: 10cm;
        }
    }

    #page-header {
        display: none;
        @media (max-width: @screen-xs-max) {
            display: block;
        }
    }
}

@news-button-height: 50px;
@news-button-width: 95px;
@star-height: 150px;
@star-width: 143px;
@news-button-z-index: @ui-z-index + 100;

.btn-show-details {
    .make-md-column(4);
    .button-variant(@foreground-color; white; @foreground-color);
}

.details-container {
    display: none;
    margin-top: 15px;
}

.map-printable-details {
    .details-actions,
    .details-owner-list {
        display: none;
    }

    ul {
        list-style: none;
    }

    a {
        color: black;
    }

    .details-organizing {
        margin-left: 25px;
    }
}

.admin-menu,
.download-menu {
    display: none;
}

.map-logo-wrapper {
    height: 135px;

    img {
        margin-left: 15px;
    }

    @media (max-width: @screen-xs-max) {
        left: 0;
        width: 100%;
    }
}

.map-logo-bar {
    height: @header-bar-height;
    margin-top: -@header-bar-height;
    width: 100%;

    &-left {
        background-color: @blue;
        float: left;
        height: 100%;
        width: 10%;
    }

    &-right {
        background-color: @red;
        float: left;
        height: 100%;
        width: 90%;
    }
}

.map-header-btn {
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    float: right;
    height: @header-bar-height;
    margin-top: -(2 * @header-bar-height);
    width: @header-bar-height;

    @media (max-width: @screen-xs-max) {
        margin-top: 0;
        position: absolute;
        top: 17px;
    }
}

.map-header-locate-btn {
    background-image: data-uri("../../img/locate.png");

    @media (max-width: @screen-xs-max) {
        right: 75px;
    }
}

.map-header-search-btn {
    background-image: data-uri("../../img/search.png");
    margin-right: @header-bar-height;
    margin-top: 1 - (2 * @header-bar-height);
    width: 22px;

    @media (max-width: @screen-xs-max) {
        right: 25px;
        margin-top: 0;
    }
}
