.navbar-toggle,
.navbar-default .navbar-toggle {
    .icon-bar {
        background-color: @foreground-color;
        height: 4px;
    }
}

.navbar-default {
    float: right;
}

.navbar-default .navbar-toggle {
    border: 0;

    &:hover,
    &:focus {
        background: transparent;
    }
}

.navbar-default .navbar-nav > li > a {
    &:active,
    &:focus,
    &:hover {
        color: @blue;
        text-decoration: underline;
    }
}

.navbar-nav {
    font-size: 20px;
    font-weight: bold;
    float: right;
    margin-left: 20px;

    @media (max-width: @screen-xs-max) {
        float: left;
        margin-left: 0;
        margin-top: 0;
    }

    > li > a {
        padding-bottom: 0;
        padding-top: 0;
        text-transform: uppercase;

        @media (max-width: @screen-xs-max) {
            line-height: 50px;
        }
    }
}

// Smallest screens, use grid to keep logo and collapse button side-by-side
@media (max-width: @screen-xs-max) {
    .navbar {
        background-color: white;
        margin-bottom: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }

    .navbar-collapse {
        margin-top: 80px;
    }

    .navbar-header {
        .make-row(0);
        float: right;

        .page-header-home-link {
            .make-xs-column(9);
        }
    }
}

.mainmenu-item {
    &:hover,
    &.open {
        .submenu {
            display: block;
        }
    }

    &-parent {
        cursor: default;
    }
}

.submenu {
    background-color: white;
    display: none;
    font-size: 18px;
    list-style: none;
    padding: 10px;
    position: absolute;
    z-index: @ui-z-index + 10;

    li {
        padding: 3px;
    }

    a {
        color: @blue;
        font-weight: bold;
        white-space: nowrap;

        &:hover {
            text-decoration: none;
        }
    }

    @media (max-width: @screen-xs-max) {
        margin-left: @xs-padding;
        position: static;
    }
}

.social-media {
    float: right;
    margin-left: 15px;

    a {
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        height: 35px;
        margin-top: -7px;
        width: 35px;
    }

    &-facebook {
        background-image: data-uri("/static/img/facebook.png");
    }

    &-instagram {
        background-image: data-uri("/static/img/instagram.png");
    }

    &-twitter {
        background-image: data-uri("/static/img/twitter.png");
    }
}

footer .social-media {
    float: none;
    margin-left: 0;

    a {
        height: 20px;
        margin-right: 15px;
        margin-top: 5px;
        width: 20px;
    }

    &-facebook {
        background-image: data-uri("/static/img/facebook-footer.png");
    }

    &-instagram {
        background-image: data-uri("/static/img/instagram-footer.png");
    }

    &-twitter {
        background-image: data-uri("/static/img/twitter-footer.png");
    }
}
