@media print {
    @page {
        size: letter;
        margin: 2cm;
    }

    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    body {
        height: 100%;
        width: 100%;
    }

    .logo {
        height: auto;
        width: 8cm;
    }

    .page-header {
        margin: 0;
    }

    .map-page {
        #map {
            height: 16cm;
        }

        .map-sidebar {
            .map-header-content {
                display: block;
                overflow: hidden;

                &-details {
                    display: block;
                }

                .details-header-actions {
                    display: none;
                }

                .details-section .details-body {
                    min-height: auto;
                }
            }
        }
    }

    #page-header {
        .map-page & .mobile-map-header-content-default {
            display: none;
        }
    }
}
