// Palette
@black: #160805;
@blue: #00ADEF;
@cream: #f6f8f7;
@green: #1f9e48;
@light-gray: #F6F6F6;
@pink: #e64c9b;
@red: #BF1E2D;
@white: #FFFFFF;
@yellow: #CFB933;

// Lot colors
@lot-access-color: @pink;
@lot-public-color: @green;
@lot-private-color: @blue;

@fill-color: @white;
@foreground-color: @blue;

@body-font-family: "Open Sans", sans-serif;
@header-font-family: "Open Sans", sans-serif;

@header-left-padding: 30px;

@xs-padding: 15px;

@ui-z-index: 5000;

@user-content-actions-width: 50px;

// CC-BY Jens Windolf http://thenounproject.com/term/link/38265/
@permalink-image: data-uri("../img/permalink.png");

@footer-color: @light-gray;

@header-bar-height: 25px;
