{% load feincms_tags %}

<footer>

    <div class="footer-row">
        <div class="footer-left">
            <div class="footer-main">
                {% feincms_render_region feincms_page "footer_main" request %}
            </div>
            <div class="footer-columns">
                <div class="footer-column">
                    {% feincms_render_region feincms_page "footer_column_left" request %}
                </div>
                <div class="footer-column">
                    {% feincms_render_region feincms_page "footer_column_middle" request %}
                </div>
                <div class="footer-column">
                    {% feincms_render_region feincms_page "footer_column_right" request %}
                    <div class="social-media">
                        <a href="https://www.facebook.com/NYCommons/" class="social-media-facebook"></a>
                        <a href="http://twitter.com" class="social-media-twitter"></a>
                        <a href="http://instagram.com" class="social-media-instagram"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-right">
            {% feincms_render_region feincms_page "footer_right" request %}
        </div>
    </div>

</footer>
