{% load feincms_tags feincms_page_tags i18n static %}

<header id="page-header">
    <nav class="navbar navbar-default hidden-print" role="navigation">

        <div class="navbar-header">
            <div class="navbar-toggle-wrapper">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <span class="sr-only">{% trans "Toggle navigation" %}</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>

        <a href="#" class="map-header-btn map-header-locate-btn"></a>
        <a href="#" class="map-header-btn map-header-search-btn"></a>

        <div class="collapse navbar-collapse navbar-main-collapse">
            <div class="social-media">
                <a href="http://facebook.com" class="social-media-facebook"></a>
                <a href="http://twitter.com" class="social-media-twitter"></a>
                <a href="http://instagram.com" class="social-media-instagram"></a>
            </div>
            <ul class="nav navbar-nav">
                {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
                {% for page in mainmenu %}
                    <li class="mainmenu-item">
                        {% feincms_nav page level=3 depth=1 as submenu %}
                        {% if submenu %}
                            {# Don't link to top-level items with subpages #}
                            <a class="mainmenu-item-parent">{{ page.title }}</a>
                            <ul class="submenu">
                                {% for submenupage in submenu %}
                                    <li>
                                        <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if user.is_superuser %}
                    <li>
                        <a href="/extra-admin/">{% trans "Admin" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="header-home-link">
        <a href="/">
            <img src="{% static "img/logo.png" %}" />
            <h1 style="display: none;">{% trans "NYCommons" %}</h1>
        </a>
    </div>

    <div class="header-bar">
        <div class="header-bar-left"></div>
        <div class="header-bar-right"></div>
        <div style="clear: both;"></div>
    </div>

    <div class="mobile-map-header-content-default">
        <div class="map-header-tagline">
            {% trans "Who owns NYC's public spaces?" %}
        </div>
        <div>
            {% trans "Use this map to find out!" %}
        </div>
    </div>
</header>

<div class="visible-print header-print">
    <div class="header-home-link">
        <a href="/">
            <img src="{% static "img/logo.png" %}" />
            <h1 style="display: none;">{% trans "NYCommons" %}</h1>
        </a>
    </div>

    <div class="header-bar">
        <div class="header-bar-left"></div>
        <div class="header-bar-right"></div>
        <div style="clear: both;"></div>
    </div>
</div>
