<!DOCTYPE html>
{% load feincms_tags feincms_page_tags i18n static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}
                {% block page_title %}
                    {{ feincms_page.title }} 
                {% endblock %}
                | {% trans "NYCommons" %}
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width">

        <link rel="apple-touch-icon" sizes="57x57" href="{% static "img/favico/apple-touch-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "img/favico/apple-touch-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "img/favico/apple-touch-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/favico/apple-touch-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/favico/apple-touch-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/favico/apple-touch-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/favico/apple-touch-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/favico/apple-touch-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "img/favico/apple-touch-icon-180x180.png" %}">
        <link rel="icon" type="image/png" href="{% static "img/favico/favicon-32x32.png" sizes="32x32" %}">
        <link rel="icon" type="image/png" href="{% static "img/favico/android-chrome-192x192.png" sizes="192x192" %}">
        <link rel="icon" type="image/png" href="{% static "img/favico/favicon-96x96.png" sizes="96x96" %}">
        <link rel="icon" type="image/png" href="{% static "img/favico/favicon-16x16.png" sizes="16x16" %}">
        <link rel="manifest" href="{% static "img/favico/manifest.json" %}">
        <link rel="mask-icon" href="{% static "img/favico/safari-pinned-tab.svg" color="#5bbad5" %}">
        <link rel="shortcut icon" href="{% static "img/favico/favicon.ico" %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-TileImage" content="{% static "img/favico/mstile-144x144.png" %}">
        <meta name="msapplication-config" content="{% static "img/favico/browserconfig.xml" %}">
        <meta name="theme-color" content="#00aeef">

        {% include "_includes.html" %}
        {% block scripts %}{% endblock %}

    </head>
    <body class="{% block body_class %}{% endblock %}" {% block body_data %}{% endblock %}>

        {% block body %}
            <nav class="navbar navbar-default hidden-print" role="navigation">

                <div class="navbar-header">
                    <div class="navbar-toggle-wrapper">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                            <span class="sr-only">{% trans "Toggle navigation" %}</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                </div>

                <div class="collapse navbar-collapse navbar-main-collapse">
                    <div class="social-media">
                        <a href="http://facebook.com" class="social-media-facebook"></a>
                        <a href="http://twitter.com" class="social-media-twitter"></a>
                        <a href="http://instagram.com" class="social-media-instagram"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
                        {% for page in mainmenu %}
                            <li class="mainmenu-item">
                                {% feincms_nav page level=3 depth=1 as submenu %}
                                {% if submenu %}
                                    {# Don't link to top-level items with subpages #}
                                    <a class="mainmenu-item-parent">{{ page.title }}</a>
                                    <ul class="submenu">
                                        {% for submenupage in submenu %}
                                            <li>
                                                <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                        {% if user.is_superuser %}
                            <li>
                                <a href="/extra-admin/">{% trans "Admin" %}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>

            {% include "_header.html" %}

            <div class="page-wrapper">
                {% block pre_content %}{% endblock %}

                <div class="content-wrapper clearfix">
                    {% block sidebar_left %}
                        <aside id="aside-left" class="col-sm-2">
                            {% feincms_nav feincms_page.parent level=3 depth=1 as submenu %}
                            {% if submenu %}
                                {# Don't link to top-level items with subpages #}
                                <a class="mainmenu-item-parent">{{ page.title }}</a>
                                <ul class="submenu">
                                    {% for submenupage in submenu %}
                                        <li>
                                            <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                            {% endif %}
                        </aside>
                    {% endblock %}

                    <section id="main" class="{% block mainclasses %}col-sm-7{% endblock %}">

                        {% block messages %}
                            {% include "_messages.html" %}
                        {% endblock %}

                        <article>
                            {% block content %}
                                <h1>{{ feincms_page.title }}</h1>
                                {% feincms_render_region feincms_page "main" request %}
                            {% endblock %}
                        </article>
                    </section>

                    {% block sidebar %}
                        <aside id="aside-right" class="col-sm-3">
                            {% feincms_render_region feincms_page "sidebar" request %}
                        </aside>
                    {% endblock %}

                </div>
            </div>

            {% include "_footer.html" %}
        {% endblock %}

    </body>
</html>
