.map-search {
    display: none;
    height: @map-search-height;
    margin-top: 15px;
    width: 100%;

    @media (max-width: @screen-xs-max) {
        height: 100%;
        z-index: @header-z-index + 1;
    }

    .search-enabled & {
        display: block;
    }

    .search-submitted & {
        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }

    &-form {
        float: left;
        margin-left: 5px;
        width: 80%;

        @media (max-width: @screen-xs-max) {
            margin-left: 10%;
            margin-top: 40%;
        }
    }

    &-close {
        background-image: data-uri("../../img/close.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        float: right;
        height: 15px;
        width: 15px;

        @media (max-width: @screen-xs-max) {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    input[type=text] {
        border: 0;
        font-size: 16px;
        line-height: 24px;
        padding: 0;

        &:focus {
            outline: none;
        }
    }

    button {
        display: block;
        margin-bottom: 10px;
        margin-top: 10px;

        @media (max-width: @screen-xs-max) {
            margin-left: 35%;
            width: 30%;
        }
    }

    img {
        float: left;
        max-width: 25px;

        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }
}
