.map-sidebar {
    position: absolute;
    left: 15px;
    max-height: 75%;
    top: @map-overlay-top;
    min-width: @sidebar-width;
    z-index: 5000;

    @media (max-width: @screen-xs-max) {
        bottom: 0;
        left: 0;
        top: inherit;
        width: 100%;

        .map-filters-open & {
            bottom: inherit;
            height: 100%;
            max-height: 100%;
            top: 0;
            z-index: @header-z-index + 1;
        }
    }

    h2 {
        color: @header-color;
        font-size: 16px;
        font-weight: normal;
        margin: 0;
    }

    .sidebar-section {
        background-color: @fill-color;
        border-left: 1px @light-gray solid;
        border-right: 1px @light-gray solid;
        border-bottom: 1px @gray solid;
        color: @body-font-color;
        font-size: 12px;
        margin-top: 10px;
        max-height: 80vh;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 15px;

        &:first-of-type {
            margin-top: 0;
        }

        .close {
            float: right;
        }
    }

    .map-details {
        .hidden-xs();

        &-content {
            .make-row(0);
        }

        &-currently-viewing {
            .make-md-column(4);
            padding-left: @header-left-padding;

            @media (max-width: @screen-sm-max) {
                margin-bottom: 15px;
            }

            h2 {
                margin: 0;
            }

            ul {
                margin-bottom: 5px;
                margin-top: 5px;
                padding-left: 20px;

                @media (max-width: @screen-sm-max) {
                    li {
                        float: left;
                        margin-left: 25px;
                    }
                }
            }
        }

        &-actions {
            .make-sm-column(3);
            .make-md-column(2);
        }

        &-filter {
            .make-sm-column(2);
            .make-md-column(1);
            .btn {
                width: 100%;
            }
        }

        &-news {
            .make-sm-column(2);
            .make-md-column(1);
        }
    }

    .map-header-content {
        margin-top: 0;
        max-width: 80vw;
        -webkit-overflow-scrolling: touch;

        &-details,
        &-filters,
        &-activities,
        &-admin {
            display: none;
        }

        @media (max-width: @screen-xs-max) {
            display: none;
            height: 100%;
            max-height: 100%;
            top: 0;

            .map-filters-open & {
                display: block;
            }
        }
    }
}
