.leaflet-container {
    font-family: @body-font-family;

    a {
        color: @link-color;
    }

    .btn {
        color: @btn-default-color;
    }

    .leaflet-control-attribution {
        background: fadeout(white, 5%);
        font-size: 12px;
        padding: 4px;

        @media (max-width: @screen-xs-max) {
            font-size: 8px;
            padding: 0;
        }
    }
}

.leaflet-bottom .leaflet-control {
    margin-bottom: 3px;
}

.leaflet-right .leaflet-control {
    margin-right: 3px;
}

.leaflet-bar {
    border: 0;
    clear: none;
    float: right;

    a {
        border: 0;
        border-radius: 0;
        float: left;
        margin-right: 3px;
    }
}

.leaflet-control-zoom {
    a {
        background-color: @foreground-color;
        color: @white;
    }
}

.leaflet-control-loading {
    background-image: data-uri("../img/loading.gif");
}

.leaflet-control-layers {
    background-color: transparent;
    border: none;
    border-radius: 0;
    clear: none;
    float: right;
    margin: 0 3px 0 0;

    &-toggle {
        background-image: data-uri("../../img/layers.png");
        background-size: contain;
        float: right;
        height: 30px;
        width: 30px;
    }

    &-expanded {
        margin: 0;
        margin-right: 3px;
        padding: 0;

        .leaflet-control-layers-toggle {
            display: block;
        }
    }

    .leaflet-control-layers-list {
        color: @blue;
        margin-top: -50px;
    }
}

.leaflet-draw-toolbar a {
	background-image: data-uri('../node_modules/leaflet-draw/dist/images/spritesheet.png');
}

.leaflet-retina {
    .leaflet-control-layers-toggle {
        background-image: data-uri("../node_modules/leaflet/dist/images/layers-2x.png");
    }

    .leaflet-draw-toolbar a {
        background-image: data-uri('../node_modules/leaflet-draw/dist/images/spritesheet-2x.png');
    }
}

.leaflet-draw-actions a {
    background-color: white;
}

@media print {
    .leaflet-control-container {
        display: none;
    }
}

.leaflet-usermarker,
.leaflet-usermarker-small {
    background-image: data-uri('../node_modules/leaflet-usermarker/src/img/bluedot.png');
}

.leaflet-touch {
    .leaflet-bar {
        .leaflet-bar();
    }
    .leaflet-control-layers {
        .leaflet-control-layers();
    }
}
