{% load foil_tags i18n %}

{% if lot.foil_contact and not lot.bbl_is_fake %}
    <section class="collapsible">
        <h2>{% trans "Request Agency Documents" %}</h2>
        <div>
            <p>NYCHA has to share most documents it has about this property under the New York State Freedom of Information Law (FOIL). Click to send them a request!</p>
            <a class="btn btn-small btn-default" href="mailto:{{ lot.foil_contact.officer_email }}?bcc=equitableneighborhoods@takerootjustice.org&subject={{ lot | foil_subject | urlencode }}&body={{ lot | foil_body | urlencode }}">
                {% trans "send foil request" %}
            </a>
        </div>
    </section>
{% endif %}
