{% load i18n lots_tags %}

{% with owner_lots=lot.owner.lot_set.all %}
    <section class="lot-detail-same-owner collapsible" data-lot="{{ lot.pk }}">
        <h2 class="collapsed">{% trans "Properties with the Same Official Owner"%}</h2>
        <div class="lot-detail-same-owner-content"></div>
    </section>

    <section class="lot-detail-same-owner collapsible" data-lot="{{ lot.pk }}" data-priority="true">
        <h2 class="collapsed">{% trans "Priority Properties with the Same Official Owner"%}</h2>
        <div class="lot-detail-same-owner-content"></div>
    </section>

    <section class="lot-detail-same-owner collapsible collapsed" data-lot="{{ lot.pk }}" data-organizing="true">
        <h2 class="collapsed">{% trans "Properties with the Same Official Owner Where Others Are Organizing"%}</h2>
        <div class="lot-detail-same-owner-content"></div>
    </section>
{% endwith %}
