{% load citycouncildistricts_tags communitydistricts_tags communitydistrictsdetails_tags i18n lots_tags %}

<section>
    <div class="lot-detail-details">

        {% if lot.number_of_lots > 1 %}
            <div>
                {% trans "There are" %} {{ lot.number_of_lots }} {% trans "lots grouped here" %}:
            </div>
            <ul>
                {% for child in lot.lots %}
                    <li>
                        <div>
                            {{ child.display_name }}{% if child.address_line1 %} ({{ child.address_line1 }}){% endif %}.
                            {% get_oasis_url for child as oasis_url %}
                            {% if oasis_url %}
                                {% trans "More details at" %}
                                <a href="{{ oasis_url }}" target="_blank">OASIS</a>.
                            {% endif %}
                            {% if "lots.change_lot" in perms %}
                                <a class="btn btn-xs btn-warning" href="{% url "admin:lots_lot_change" child.pk %}">
                                    {% trans "Edit this lot" %}
                                </a>
                            {% endif %}
                            {% if "lots.add_lot" in perms %}
                            <a class="btn btn-xs btn-warning btn-remove-from-group" data-lot="{{ child.pk }}" href="#">
                                    {% trans "Remove from group" %}
                                </a>
                            {% endif %}
                        </div>
                        {% ifnotequal lot.owners|length 1 %}
                            {% if child.owner %}
                                <div>
                                    {{ child.owner }}
                                </div>
                            {% endif %}
                        {% endifnotequal %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div>
            {% if lot.address_line1 %}{{ lot.address_line1|default:"(street address unknown)" }},{% endif %}
            {{ lot.borough }}{% if lot.postal_code %}, {{ lot.postal_code }}{% endif %}
        </div>

        {% if lot.bbl and not lot.bbl_is_fake %}
            <div>
                {{ lot.borough }}, block {{ lot.block }}, lot {{ lot.lot_number }}
            </div>
        {% endif %}

        {% get_oasis_url for lot as oasis_url %}
        {% if oasis_url %}
            <div>
                {% trans "More information about this property at" %}
                <a href="{{ oasis_url }}" target="_blank">OASIS</a>
            </div>
        {% endif %}

    </div>
</section>
