{% load foil_tags i18n ownerpathways_tags %}

<section class="collapsible">
    <h2>{% trans "Who decides what happens to this property?" %}</h2>
    <div>
        {% if lot.owner %}
            <section class="lot-detail-details">
                <h3>{% trans "Official Owner" %}</h3>
                <div>
                    {{ lot.owner|default:"unknown" }}

                    {% with owner_contact=lot.get_owner_contact %}
                        {% if owner_contact %}
                            <div class="owner-contact">
                                <div class="owner-contact-name">
                                    <span class="owner-contact-label">{% trans "Contact" %}:</span>
                                    <span>
                                        {{owner_contact.name}}
                                        {% if owner_contact.phone or owner_contact.email %}
                                            {% spaceless %}
                                                <span>(</span>
                                                    {% if owner_contact.phone %}
                                                        <span class="owner-contact-phone">{{ owner_contact.phone }}</span>
                                                    {% endif %}

                                                    {% if owner_contact.phone and owner_contact.email %} / {% endif %}

                                                    {% if owner_contact.email %}
                                                        <span class="owner-contact-email">{{ owner_contact.email }}</span>
                                                    {% endif %}
                                                <span>)</span>
                                            {% endspaceless %}
                                        {% endif %}
                                    </span>
                                </div>
                                {% if owner_contact.notes %}
                                    <div class="owner-contact-notes">
                                        {{ owner_contact.notes|urlize|linebreaks }}
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endwith %}
                </div>

                {% render_owner_pathway_summary_list for lot %}
            </section>
        {% endif %}

        {% if lot.urban_renewal_records %}
            <section class="lot-detail-details">
                <h3>{% trans "Urban Renewal" %}</h3>
                {% for plan_name in lot.urban_renewal_plan_names %}
                    <div>
                        {% if lot.lots.count > 1 %}
                            A portion of this property
                        {% else %}
                            This property
                        {% endif %}
                        is part of the urban renewal plan
                        <a href="http://www.urbanreviewer.org/#plan={{ plan_name|urlencode }}" target="_blank">{{ plan_name }}</a>.
                    </div>
                {% endfor %}
            </section>
        {% endif %}

        {% if lot.landmarks %}
            <section class="lot-detail-details">
                <h3>{% trans "Landmark" %}</h3>
                {% for landmark in lot.landmarks %}
                    <div>
                        This property is part of {{ landmark.name }}. <a href="{{ landmark.report_url }}" target="_blank">View the designation report PDF</a>. Read more about the Landmarks Preservation Commission and the power of the Landmark designation <a href="/resources/how-organize/">here</a>.
                    </div>
                {% endfor %}
            </section>
        {% endif %}

        {% include "inplace/lots/_lot_detail_part_of_nycommons.html" with lot=lot %}

        {% if lot.foil_contact and not lot.bbl_is_fake %}
            <section>
                <h3>Request Agency Documents</h3>
                <div>
                    <p>The agency has to share most documents it has about this property under the New York State Freedom of Information Law (FOIL). Click to send them a request!</p>
                    <a class="btn btn-small btn-default" href="mailto:{{ lot.foil_contact.officer_email }}?bcc=paula@596acres.org&subject={{ lot | foil_subject | urlencode }}&body={{ lot | foil_body | urlencode }}">
                        {% trans "send foil request" %}
                    </a>
                </div>
            </section>
        {% endif %}
    </div>
</section>
