{% extends "base.html" %}
{% load flatblocks i18n inplace_tags steward_tags usercontent_tags %}

{% block title %}
    {{ lot.display_name|title|default:"unknown" }} |
    {% trans "NYCHA Real Talk" %}
{% endblock %}

{% block meta_tags %}{{ block.super }}
    <meta property="og:title" content="{{ lot.display_name|title|default:"unknown" }}" />
    <meta property="og:description" content="{{ lot.display_name|title|default:"unknown" }} on Living Lots NYC, a public vacant lot viewer for New York City." />
    <meta name="twitter:title" content="{{ lot.display_name|title|default:"unknown" }}" />
    <meta name="twitter:description" content="{{ lot.display_name|title|default:"unknown" }} on Living Lots NYC, a public vacant lot viewer for New York City." />
{% endblock %}

{% block body_class %}lot-detail-page{% endblock %}

{% block breadcrumbs_wrapper %}
{% endblock %}

{% block messages %}
{% endblock %}

{% block sidebar_left %}
{% endblock %}

{% block pre_content %}
    <div class="lot-detail-header-image"
        data-lat="{{ lot.centroid.y }}"
        data-lon="{{ lot.centroid.x }}"
    >
        <div class="lot-detail-header-streetview-error alert alert-warning">
            {% trans "Sorry, we could not load streetview imagery for this lot." %}
        </div>
    </div>

    <div class="lot-detail-map-container">
        <a href="/#map=18/{{ lot.centroid.y|floatformat:"4" }}/{{ lot.centroid.x|floatformat:"4" }}" target="_blank">
            <div id="lot-detail-map"
                data-l-zoom="16"
                data-l-center="[{{ lot.centroid.y }}, {{ lot.centroid.x }}]"
                data-l-bbox="{{ lot.bbox }}"
                data-l-zoom-control="false"
                data-l-lots-tiles-url="{% inplace_setting LOT_TILES_URL %}"
                data-l-lot-pk="{{ lot.pk }}"
            ></div>
        </a>
    </div>

    <div class="lot-detail-actions hidden-print">
        {% if "lots.change_lot" in perms %}
            <a href="{% url "admin:lots_lot_change" lot.pk %}">
                {% trans "Edit this lot" %}
            </a>
        {% endif %}

        <a href="/#map=18/{{ lot.centroid.y|floatformat:"4" }}/{{ lot.centroid.x|floatformat:"4" }}">
            {% trans "Map" %}
        </a>

        <a href="#" class="lot-detail-print">
            {% trans "Print" %}
        </a>

        {% if lot.nearby %}
            <div class="btn-group">
                <a class="dropdown-toggle" href="#" title="{% trans "properties nearby" %}" data-toggle="dropdown" aria-expanded="false">
                    {% trans "properties nearby" %}
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu nearby-lots-list" role="menu">
                    {% for nearby in lot.nearby %}
                        <li class="nearby-lots-list-item">
                            <a href="{{ nearby.get_absolute_url }}">
                                {{ nearby.display_name }}
                            </a>
                            {% if "lots.change_lot" in perms %}
                            <a class="btn btn-sm btn-warning btn-add-to-group" data-lot="{{ lot.pk }}" data-lot-to-add="{{ nearby.pk }}" href="#">
                                    {% trans "Group with this lot" %}
                                </a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if "lots.change_lot" in perms or not lot.known_use %}
            <a class="lot-page-tooltip" href="{% url "steward:add_stewardnotification" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Tell us more about your project." %}">
                {% trans "Is this an active project?" %}
            </a>

            <a class="lot-page-tooltip" href="{% url "groundtruth:add_groundtruthrecord" pk=lot.pk %}" data-toggle="tooltip" title="{% trans "Let us know that this lot's actual use is not correctly identified." %}">
                {% trans "Have we made a mistake?" %}
            </a>
        {% endif %}

        <div class="btn-group">
            <a class="dropdown-toggle lot-page-share" href="#" title="{% trans "Share" %}" data-toggle="dropdown" aria-expanded="false">
                {% trans "Share" %}
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li><a class="share-facebook" href="#" target="_blank">{% trans "Facebook" %}</a></li>
                <li><a class="share-twitter" href="#" target="_blank" data-tweet="{% trans "Here is an opportunity to start organizing a space for community with the help of @nycommons" %}: ">{% trans "Twitter" %}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block mainclasses %}col-sm-9{% endblock %}

{% block content %}
    <div class="lot-detail-main">
        {% include "_messages.html" %}

        <h1>
            <span class="lot-detail-icon{% if lot.priority %} priority {% endif %}{% if lot.organizing %} organizing {% endif %} {{ lot.commons_type|slugify }}"></span>
            {{ lot.display_name|default:"unknown" }}
        </h1>

        <div class="lot-detail-info-box">
            {% include "inplace/lots/_lot_detail_info.html" with lot=lot %}
        </div>

        {% include "inplace/lots/_lot_detail_foil.html" with lot=lot %}

        {% include "inplace/lots/_lot_detail_development_pending.html" with lot=lot %}

        {% include "inplace/lots/_lot_detail_development_details.html" with lot=lot %}

        {% include "inplace/lots/_lot_detail_owner.html" with lot=lot %}

        {% include "inplace/lots/_lot_detail_take_action.html" with lot=lot %}

        {% include "inplace/lots/_lot_detail_organizing_networks.html" with lot=lot %}

        {% get_steward_project_list for lot as stewards %}
        {% if stewards %}
            {% include "inplace/lots/_lot_detail_stewardproject.html" with steward=stewards.0 %}
        {% elif lot.lotgroup %}
            {% get_steward_project_list for lot.lotgroup as stewards %}
            {% if stewards %}
                {% include "inplace/lots/_lot_detail_stewardproject.html" with steward=stewards.0 %}
            {% endif %}
        {% endif %}

        {% include "inplace/lots/_add_groundtruthrecord.html" with lot=lot %}

        {% if "lots.view_all_details" in perms %}
            <div class="lot-detail-details lot-detail-section lot-detail-main-section">
                <h2>{% trans "Admin Details" %}</h2>
                <div class="help-text">{% trans "(This section is only visible to admins.)" %}</div>
                <a class="btn btn-default" href="{% url "admin:organize_organizer_changelist" %}?object_id={{ lot.pk }}">View subscribers to this lot</a>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block sidebar %}
    <aside id="aside-right" class="col-sm-3 hidden-print">
        <div id="usercontent" class="usercontent lot-detail-main-section">
            <h2>
                {% trans "Notes, Photos, and Documents" %}
            </h2>
            <div class="usercontent-actions">
                <span>{% trans "Add a" %}</span>
                <a class="btn btn-default" href="{% url "usercontent:add_note" pk=lot.pk %}">
                    {% trans "note" %}
                </a>
                <a class="btn btn-default" href="{% url "usercontent:add_file" pk=lot.pk %}">
                    {% trans "file" %}
                </a>
                <a class="btn btn-default" href="{% url "usercontent:add_photo" pk=lot.pk %}">
                    {% trans "photo" %}
                </a>
            </div>
            <div class="usercontent-list"
                 {% if lot.get_usercontent_url %}data-local-content-url="{{ lot.get_usercontent_url }}"{% endif %}
                 {% if lot.remote %}data-remote-content-url="{{ lot.remote_content_url }}"{% endif %}
                >
                <div class="usercontent-list-content">{% trans "Nothing yet." %}</div>
                <div class="usercontent-list-error alert alert-warning">
                    {% trans "Sorry, we are having a hard time loading content. Please try again later." %}
                </div>

                <script id="usercontent-file-template" type="text/x-handlebars-template">
                    {% verbatim %}
                        <div class="file" id="file-{{id}}">
                            <div class="user-content-actions">
                                <a href="#file-{{id}}" class="user-content-actions-permalink"></a>
                                {{#if admin}}
                                    <a href="{{edit_url}}" class="user-content-actions-edit">edit</a>
                                    <a href="{{delete_url}}" class="user-content-actions-delete">delete</a>
                                {{/if}}
                            </div>
                            <div class="file-meta">
                                <div class="file-added">
                                    {{contentTimestamp added}}
                                </div>
                                <div class="file-added-by">
                                    <span class="file-added-by-name">
                                        {{#if added_by_name}}
                                            {{added_by_name}}
                                        {{else}}
                                            someone
                                        {{/if}}
                                    </span>
                                    <span class="file-added-by-verb">uploaded</span>
                                </div>
                            </div>
                            <span class="file-details">
                                <span class="file-title">
                                    <a href="{{url}}">
                                        {{title}}
                                    </a>
                                </span>
                                <span class="file-description">
                                    {{description}}
                                </span>
                            </span>

                            <div class="user-content-separator"></div>
                        </div>
                    {% endverbatim %}
                </script>

                <script id="usercontent-note-template" type="text/x-handlebars-template">
                    {% verbatim %}
                        <div class="note" id="note-{{id}}">
                            <div class="user-content-actions">
                                <a href="#note-{{id}}" class="user-content-actions-permalink"></a>
                                {{#if admin}}
                                    <a href="{{edit_url}}" class="user-content-actions-edit">edit</a>
                                    <a href="{{delete_url}}" class="user-content-actions-delete">delete</a>
                                {{/if}}
                            </div>
                            <div class="note-meta">
                                <div class="note-added">
                                    {{contentTimestamp added}}
                                </div>
                                <div class="note-added-by">
                                    <span class="note-added-by-name">
                                        {{#if added_by_name}}
                                            {{added_by_name}}
                                        {{else}}
                                            someone
                                        {{/if}}
                                    </span>
                                    <span class="note-added-by-verb">wrote</span>
                                </div>
                            </div>
                            <span class="note-details">{{{text}}}</span>
                            <div class="user-content-separator"></div>
                        </div>
                    {% endverbatim %}
                </script>

                <script id="usercontent-photo-template" type="text/x-handlebars-template">
                    {% verbatim %}
                        <div class="photo" id="photo-{{id}}">
                            <div class="user-content-actions">
                                <a href="#photo-{{id}}" class="user-content-actions-permalink"></a>
                                {{#if admin}}
                                    <a href="{{edit_url}}" class="user-content-actions-edit">edit</a>
                                    <a href="{{delete_url}}" class="user-content-actions-delete">delete</a>
                                {{/if}}
                            </div>
                            <div class="photo-meta">
                                <div class="photo-added">
                                    {{contentTimestamp added}}
                                </div>
                                <div class="photo-added-by">
                                    <span class="photo-added-by-name">
                                        {{#if added_by_name}}
                                            {{added_by_name}}
                                        {{else}}
                                            someone
                                        {{/if}}
                                    </span>
                                    <span class="photo-added-by-verb">
                                        posted
                                    </span>
                                </div>
                            </div>
                            <span class="photo-details">
                                <div class="photo-image">
                                    <img src="{{url}}" />
                                </div>
                                {{#if description}}
                                    <span class="photo-description">{{description}}</span>
                                {{/if}}
                            </span>
                            <div class="user-content-separator"></div>
                        </div>
                    {% endverbatim %}
                </script>
            </div>
        </div>
    </aside>
{% endblock %}
