.details-section {
    .details-owner-priority-list,
    .details-owner-layer-list {
        list-style: none;
        padding: 0;
    }

    .details-owner-priority-list {
        border-bottom: 3px solid @red;
        padding-bottom: 14px;
    }

    .details-owner-list {
        display: none;
        list-style: none;
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }

    .details-toggle-owner-list {
        &::after {
            content: "\203A";
            padding-left: 5px;
        }

        &.expanded::after {
            content: "\2304";
        }
    }
}
