.map-search {
    background: white;
    display: none;
    height: @map-search-height;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 5000;

    @media (max-width: @screen-xs-max) {
        height: 100%;
        z-index: @header-z-index + 1;
    }

    .search-enabled & {
        display: block;
    }

    .search-submitted & {
        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }

    &-form {
        float: left;
        margin-left: 15px;
        width: 80%;

        @media (max-width: @screen-xs-max) {
            margin-left: 10%;
            margin-top: 40%;
        }
    }

    &-close {
        background-image: data-uri("../../img/close.png");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        float: right;
        height: 35px;
        margin-right: @map-overlay-side;
        margin-top: 12.5px;
        width: 35px;

        @media (max-width: @screen-xs-max) {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    input[type=text] {
        border: 0;
        float: left;
        font-size: 24px;
        line-height: @map-search-height;
        padding: 0;
        width: 80%;

        &:focus {
            outline: none;
        }
    }

    button {
        float: right;
        margin-bottom: 10px;
        margin-top: 10px;
        @media (max-width: @screen-xs-max) {
            margin-left: 35%;
            width: 30%;
        }
    }

    img {
        float: left;
        margin-left: @map-overlay-side;
        margin-top: 12.5px;
        max-width: @map-search-height - 25px;

        @media (max-width: @screen-xs-max) {
            display: none;
        }
    }
}
