{% load i18n %}

<div class="admin-header">
    <h2>{% trans "Admin" %}</h2>
    <a href="#" class="close"></a>
    <div style="clear: both;"></div>
</div>
<div class="admin-body">
    <ul class="action-list">
        <li>
            <a class="admin-button-add-lot btn btn-default btn-block">
                {% trans "add lot" %}
            </a>
        </li>
        <li>
            <a class="admin-button-email-participants btn btn-default btn-block">
                {% trans "email subscribers" %}
            </a>
        </li>
    </ul>

    <div class="email-participants-container">
        <h1>Email Subscribers</h1>
        <div class="email-participants-form-container">
            <div class="map-mail-status">
                You are sending email to <span class="email-participants-form-watchers"></span> subscribers (<span class="email-participants-form-emails"></span> unique addresses).
            </div>
            <form class="email-participants-form">
                <input type="hidden" name="emails" value="" />
                <input type="text" class="form-control" name="subject" placeholder="subject" value="" />
                <textarea class="form-control" name="text" placeholder="text"></textarea>
            </form>
            <div class="map-mail-actions">
                <a href="#" class="email-participants-cancel btn btn-default">cancel</a>
                <button type="submit" class="email-participants-submit btn btn-default" disabled>send emails</button>
            </div>
        </div>
        <div class="email-participants-failure-container">
            <h2>Failure</h2>
            <p>Something went wrong while trying to email subscribers. Sorry about that.</p>
            <p>Please try again and let us know if it continues to fail.</p>
        </div>
        <div class="email-participants-success-container">
            <h2>Success</h2>
            <p>Successfully sent your emails with subject "<span class="email-participants-success-subject"></span>" to <span class="email-participants-success-watchers"></span> subscribers (<span class="email-participants-success-emails"></span>  unique addresses).</p>
        </div>
    </div>
</div>
