{% load i18n %}

<script id="details-template" type="text/x-handlebars-template">
    {% verbatim %}
        {{#*inline "layerPartial"}}
            <li>
                <span class="legend-marker legend-marker-{{type}}"></span>
                <span class="details-owner-count">{{count}}</span>
                <span class="details-owner-label">{{label}}</span>
                <span class="details-toggle-organizer-list-wrapper">
                    {{organizers_count}} 
                    <span class="details-toggle-organizer-list">Organizers</span>
                </span>
                <span class="details-toggle-owner-list-wrapper">
                    {{owners.length}}
                    <a href="#" class="details-toggle-owner-list">Owners</a>
                </span>
                <ul class="details-owner-list">
                    {{#each owners}}
                        <li>
                            {{#if name}}{{name}}{{else}}Unknown owner{{/if}}:
                            {{count}} sites,
                            {{formatArea area}}
                        </li>
                    {{/each}}
                </ul>
            </li>
        {{/inline}}
        <ul class="details-owner-priority-list">
            {{#each lottypes}}
                {{#if priority}}
                    {{> layerPartial}}
                {{/if}}
            {{/each}}
        </ul>
        <ul class="details-owner-layer-list">
            {{#each lottypes}}
                {{#unless priority}}
                    {{> layerPartial}}
                {{/unless}}
            {{/each}}
        </ul>
    {% endverbatim %}
</script>

<div class="details-section">
    <div class="details-header">
        <div class="details-header-text">
            Details for <span class="details-header-property-count"></span> properties
        </div>
        <div class="details-header-actions">
            <a class="details-header-action close" href="#">
                {% trans "Close" %}
            </a>
            <a class="details-header-action details-print" href="#">
                {% trans "Print" %}
            </a>
            <a class="details-header-action details-permalink" target="_blank" href="#">
                {% trans "Link to this view" %}
            </a>
            <div class="details-header-action details-downloads">
                {% trans "Downloads" %}
                <ul class="details-downloads-types">
                    <li><a class="export export-csv" target="_blank" data-baseurl="{% url "lots:csv"  %}?" href="#">Spreadsheet</a></li>
                    <li><a class="export export-geojson" target="_blank" data-baseurl="{% url "lots:geojson"  %}?download=yes&" href="#">GeoJSON</a></li>
                    <li><a class="export export-kml" target="_blank" data-baseurl="{% url "lots:kml"  %}?" href="#">KML</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="details-body">

    </div>
</div>
