{% load i18n %}

<script id="details-template" type="text/x-handlebars-template">
    {% verbatim %}
        <ul class="details-owner-priority-list">
            {{#each lottypes}}
                {{#if priority}}
                    <li>
                        <span class="legend-marker legend-marker-{{type}}"></span>
                        <span class="details-owner-count">{{count}}</span>
                        <span class="details-owner-label">{{label}}</span>
                        <a href="#" class="details-toggle-owner-list">Owners</a>
                        <ul class="details-owner-list">
                            {{#each owners}}
                                <li>
                                    {{#if name}}{{name}}{{else}}Unknown owner{{/if}}:
                                    {{count}} sites,
                                    {{formatArea area}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/if}}
            {{/each}}
        </ul>
        <ul class="details-owner-layer-list">
            {{#each lottypes}}
                {{#unless priority}}
                    <li>
                        <span class="legend-marker legend-marker-{{type}}"></span>
                        <span class="details-owner-count">{{count}}</span>
                        <span class="details-owner-label">{{label}}</span>
                        <a href="#" class="details-toggle-owner-list">Owners</a>
                        <ul class="details-owner-list">
                            {{#each owners}}
                                <li>
                                    {{#if name}}{{name}}{{else}}Unknown owner{{/if}}:
                                    {{count}} sites,
                                    {{formatArea area}}
                                </li>
                            {{/each}}
                        </ul>
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    {% endverbatim %}
</script>

<div class="details-section">
    <div class="details-header">
        <div class="details-header-text">
            <span class="details-header-property-count"></span> properties
        </div>
        <div class="details-header-actions">
            <a class="close" href="#">
                {% trans "Close" %}
            </a>
            <a class="details-print" href="#">
                {% trans "Print" %}
            </a>
            <a class="details-permalink" target="_blank" href="#">
                {% trans "Link to this view" %}
            </a>
            <a class="details-downloads" href="#">
                {% trans "Downloads" %}
            </a>
        </div>
    </div>
    <div class="details-body">

    </div>
</div>
