{% load i18n %}

<script id="details-template" type="text/x-handlebars-template">
    {% verbatim %}
        <ul class="details-owner-layer-list">
            {{#each lottypes}}
                <li>
                    <span class="legend-marker legend-marker-{{type}}"></span>
                    {{label}}
                    <a href="#" class="details-toggle-owner-list">Owners</a>
                    <ul class="details-owner-list">
                        {{#each owners}}
                            <li>
                                {{#if name}}{{name}}{{else}}Unknown owner{{/if}}:
                                {{count}} sites
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{/each}}
        </ul>
    {% endverbatim %}
</script>

<div class="details-section">
    <div class="details-header">
        <div class="details-header-text">
            <span class="details-header-property-count"></span> properties
        </div>
        <div class="details-header-actions">
            <a class="close" href="#">
                {% trans "Close" %}
            </a>
            <a class="details-print" href="#">
                {% trans "Print" %}
            </a>
            <a class="details-permalink" target="_blank" href="#">
                {% trans "Link to this view" %}
            </a>
            <a class="details-downloads" href="#">
                {% trans "Downloads" %}
            </a>
        </div>
    </div>
    <div class="details-body">

    </div>
</div>
