{% load boundaries_tags citycouncildistricts_tags communitydistricts_tags i18n nycommons_owners_tags %}

<div class="filters-section">
    <a href="#" class="close">Close</a>
    <h2>Property Filters</h2>
    <ul class="filters-list">
        <li>
            <input id="layer-post-offices" type="checkbox" class="filter filter-layer" name="post office" data-type="layer" checked />
            <label for="layer-post-offices">
                {% trans "post offices" %}
            </label>

            <ul class="filter-owners-list">
                {% get_owners_by_commons_type "post office" as owners %}
                {% for owner in owners %}
                    <li>
                        <input type="checkbox" class="filter filter-owner" id="owner-{{ owner.pk }}" data-type="owner" data-owner-pk="{{ owner.pk }}" checked />
                        <label for="owner-{{owner.pk }}">{{ owner.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <input id="layer-libraries" type="checkbox" class="filter filter-layer" name="library" data-type="layer" checked />
            <label for="layer-libraries">
                {% trans "libraries" %}
            </label>

            <ul class="filter-owners-list">
                {% get_owners_by_commons_type "library" as owners %}
                {% for owner in owners %}
                    <li>
                        <input type="checkbox" class="filter filter-owner" id="owner-{{ owner.pk }}" data-type="owner" data-owner-pk="{{ owner.pk }}" checked />
                        <label for="owner-{{owner.pk }}">{{ owner.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </li>
        <li>
            <input id="layer-public-housing" type="checkbox" class="filter filter-layer" name="public housing" data-type="layer" checked />
            <label for="layer-public-housing">
                {% trans "public housing sites" %}
            </label>

            <ul class="filter-owners-list">
                {% get_owners_by_commons_type "public housing" as owners %}
                {% for owner in owners %}
                    <li>
                        <input type="checkbox" class="filter filter-owner" id="owner-{{ owner.pk }}" data-type="owner" data-owner-pk="{{ owner.pk }}" checked />
                        <label for="owner-{{owner.pk }}">{{ owner.name }}</label>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>

    <section class="filter-section filter-section-priority-organizing">
        <h3>Priority and Organizing</h3>
        <ul class="filters-list filter-priority-organizing-list">
            <li>
                <input type="checkbox" class="filter filter-priority" id="priority" />
                <label for="priority">{% trans "Priority" %}</label>
            </li>
            <li>
                <input type="checkbox" class="filter filter-organizing" id="organizing" />
                <label for="organizing">{% trans "Organizing" %}</label>
            </li>
            <li>
                <input type="checkbox" class="filter filter-priority-organizing" id="priority-organizing" />
                <label for="priority-organizing">{% trans "Organizing & Priority" %}</label>
            </li>
        </ul>

    </section>

    <section class="filter-section filter-section-boundaries">
        <h3>Location</h3>

        {% all_boundaries "boroughs" as boroughs %}
        {% if boroughs %}
            <div class="filter-section-boundaries-item">
                <select id="boroughs" name="boroughs" class="form-control filter-boundaries filter-boroughs" data-layer="boroughs">
                    <option value="">{% trans "All Boroughs" %}</option>
                    {% for borough in boroughs %}
                        <option value="{{ borough.pk }}">{{ borough.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "city council districts" as ccs %}
        {% if ccs %}
            <div class="filter-section-boundaries-item">
                <select id="city-council-districts" name="city-council-districts" class="form-control filter-boundaries filter-city-council-districts" data-layer="city council districts">
                    <option value="">{% trans "All City Council Districts" %}</option>
                    {% sort_city_council_districts ccs as sorted_ccs %}
                    {% for cc in sorted_ccs %}
                        <option value="{{ cc.pk }}">{{ cc.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "community districts" as cds %}
        {% if cds %}
            <div class="filter-section-boundaries-item">
                <select id="community-districts" name="community-districts" class="form-control filter-boundaries filter-community-districts" data-layer="community districts">
                    <option value="">{% trans "All Community Districts" %}</option>
                    {% for cd in cds %}
                        <option value="{{ cd.pk }}">{{ cd.label|community_district_label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </section>
</div>
