{% load boundaries_tags citycouncildistricts_tags communitydistricts_tags i18n nycommons_owners_tags %}

<div class="filters-section">
    <div class="filters-actions">
        <a href="#" class="close"></a>
        <a href="#" class="reset">Reset</a>
    </div>
    <h2>Property Filters</h2>

    <ul class="filters-list">
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-priority" id="priority" />
            <label for="priority">{% trans "Development Pending" %}</label>
        </li>
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-organizing" id="organizing" />
            <label for="organizing">{% trans "Organizing" %}</label>
        </li>
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-priority-organizing" id="priority-organizing" />
            <label for="priority-organizing">{% trans "Organizing & Development Pending" %}</label>
        </li>

        {% include "livinglots/lots/_commons_type_filters.html" with slug="post-offices" label="post office" label_plural="post offices" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="vacant-lot" label="vacant lot / garden" label_plural="vacant lot / garden" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="park" label="park" label_plural="parks" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="park-building" label="park building" label_plural="park buildings" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="library" label="library" label_plural="libraries" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="public-housing" label="public housing" label_plural="public housing sites" %}
        {% include "livinglots/lots/_commons_type_filters.html" with slug="waterfront" label="waterfront" label_plural="waterfront" %}
    </ul>

    <section class="filter-section filter-section-boundaries">
        <h3>Location</h3>

        {% all_boundaries "boroughs" as boroughs %}
        {% if boroughs %}
            <div class="filter-section-boundaries-item">
                <select id="boroughs" name="boroughs" class="form-control filter-boundaries filter-boroughs" data-layer="boroughs">
                    <option value="">{% trans "All Boroughs" %}</option>
                    {% for borough in boroughs %}
                        <option value="{{ borough.pk }}">{{ borough.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "city council districts" as ccs %}
        {% if ccs %}
            <div class="filter-section-boundaries-item">
                <select id="city-council-districts" name="city-council-districts" class="form-control filter-boundaries filter-city-council-districts" data-layer="city council districts">
                    <option value="">{% trans "All City Council Districts" %}</option>
                    {% sort_city_council_districts ccs as sorted_ccs %}
                    {% for cc in sorted_ccs %}
                        <option value="{{ cc.pk }}">{{ cc.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "community districts" as cds %}
        {% if cds %}
            <div class="filter-section-boundaries-item">
                <select id="community-districts" name="community-districts" class="form-control filter-boundaries filter-community-districts" data-layer="community districts">
                    <option value="">{% trans "All Community Districts" %}</option>
                    {% for cd in cds %}
                        <option value="{{ cd.pk }}">{{ cd.label|community_district_label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </section>
</div>
