{% load boundaries_tags citycouncildistricts_tags communitydistricts_tags i18n nycommons_owners_tags %}

<div class="filters-section">
    <div class="filters-actions">
        <a href="#" class="close"></a>
        <a href="#" class="reset">Reset</a>
        <a href="#" class="clear">Clear</a>
    </div>
    <h2>Property Filters</h2>

    <ul class="filters-list">
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-priority" id="priority" />
            <label for="priority">{% trans "Development Pending" %}</label>
        </li>
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-organizing" id="organizing" />
            <label for="organizing">{% trans "Organizing" %}</label>
        </li>
        <li class="filter-priority-organizing-list-item">
            <input type="checkbox" class="filter filter-priority-organizing" id="priority-organizing" />
            <label for="priority-organizing">{% trans "Organizing & Development Pending" %}</label>
        </li>

        <div style="display: none;">
            {% include "livinglots/lots/_commons_type_filters.html" with slug="public-housing" label="public housing" label_plural="public housing sites" %}
        </div>
    </ul>

    <section class="filter-section filter-section-boundaries">
        <h3>Development</h3>
        <ul class="filters-list">
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="radpact_converted" data-type="development" />
                <label for="radpact_converted">{% trans "RAD/PACT - Converted to Section 8 Under Private Management" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="radpact_planned" data-type="development" />
                <label for="radpact_planned">{% trans "Planned RAD/PACT - Section 8 Conversion Under Private Management" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="preservation_trust_voting_planned" data-type="development" />
                <label for="preservation_trust_voting_planned">{% trans "Voting Planned for Preservation Trust Section 8 Conversion" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="preservation_trust_complete" data-type="development" />
                <label for="preservation_trust_complete">{% trans "Preservation Trust Conversion Complete" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="private_infill_planned" data-type="development" />
                <label for="private_infill_planned">{% trans "Private Infill Planned" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="section_8_pre_2014" data-type="development" />
                <label for="section_8_pre_2014">{% trans "Conversions to Section 8 Completed Prior to 2014" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="demolition_proposed" data-type="development" />
                <label for="demolition_proposed">{% trans "Demolition Proposed" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="demolition_completed" data-type="development" />
                <label for="demolition_completed">{% trans "Demolition Completed" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="nycha_modernization_planned" data-type="development" />
                <label for="nycha_modernization_planned">{% trans "NYCHA-managed Modernization Planned" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="nycha_modernization_complete" data-type="development" />
                <label for="nycha_modernization_complete">{% trans "NYCHA Completed Modernization" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="new_public_housing_built" data-type="development" />
                <label for="new_public_housing_built">{% trans "New Public Housing Built" %}</label>
            </li>
            <li class="filter-priority-organizing-list-item">
                <input type="checkbox" class="filter" id="new_public_housing_planned" data-type="development" />
                <label for="new_public_housing_planned">{% trans "New Public Housing Planned" %}</label>
            </li>
        </ul>
    </section>

    <section class="filter-section filter-section-boundaries">
        <h3>Location</h3>

        {% all_boundaries "boroughs" as boroughs %}
        {% if boroughs %}
            <div class="filter-section-boundaries-item">
                <select id="boroughs" name="boroughs" class="form-control filter-boundaries filter-boroughs" data-layer="boroughs">
                    <option value="">{% trans "All Boroughs" %}</option>
                    {% for borough in boroughs %}
                        <option value="{{ borough.pk }}">{{ borough.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "city council districts" as ccs %}
        {% if ccs %}
            <div class="filter-section-boundaries-item">
                <select id="city-council-districts" name="city-council-districts" class="form-control filter-boundaries filter-city-council-districts" data-layer="city council districts">
                    <option value="">{% trans "All City Council Districts" %}</option>
                    {% sort_city_council_districts ccs as sorted_ccs %}
                    {% for cc in sorted_ccs %}
                        <option value="{{ cc.pk }}">{{ cc.label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}

        {% all_boundaries "community districts" as cds %}
        {% if cds %}
            <div class="filter-section-boundaries-item">
                <select id="community-districts" name="community-districts" class="form-control filter-boundaries filter-community-districts" data-layer="community districts">
                    <option value="">{% trans "All Community Districts" %}</option>
                    {% for cd in cds %}
                        <option value="{{ cd.pk }}">{{ cd.label|community_district_label }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
    </section>
</div>
