{% load blog_widgets feincms_tags feincms_page_tags i18n inplace_tags static svg %}

{% include "_header.html" %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <div id="popup">
            <section class="lotpopup">
                <div class="row">
                    <div class="popup-streetview">
                        <img src="http://maps.googleapis.com/maps/api/streetview?location={{centroid.y}},{{centroid.x}}&size=105x110&sensor=false&fov=45" />
                    </div>
                    <div class="popup-lot-details">
                        <header>
                            <a target="_blank" href="{{url}}">{{name}}</a>
                        </header>
                        {{#if part_of_group}}
                            <div class="lot-count">
                                {{number_of_lots}} lots
                            </div>
                        {{/if}}
                        <div class="owner">Owned by <span class="owner-value">{{owner}}</span></div>
                        <a target="_blank" href="{{url}}" class="btn btn-default">learn more</a>
                    </div>
                </div>
            </section>
        </div>
    {% endverbatim %}
</script>

<script>
    {% if debug %}
        window.django_debug = true;
    {% else %}
        window.django_debug = false;
    {% endif %}
</script>

<div id="map"
    data-l-zoom="11"
    data-l-center="[40.73, -73.99]"
    data-l-zoom-control="false"
    data-l-scroll-wheel-zoom="false"

    data-l-lot-centroids-url="{% inplace_setting LOT_CENTROIDS_URL %}"
    data-l-lot-polygons-url="{% inplace_setting LOT_POLYGONS_URL %}"
>
</div>

<div class="map-menu">
    <div class="social-media">
        <a href="http://facebook.com" class="social-media-facebook"></a>
        <a href="http://twitter.com" class="social-media-twitter"></a>
        <a href="http://instagram.com" class="social-media-instagram"></a>
    </div>

    <button type="button" class="hidden-xs navbar-toggle menu-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="map-sidebar">
    <div class="map-logo-wrapper hidden-xs">
        <img src="{% static "img/logo.png" %}" />
        <div class="map-logo-bar">
            <div class="map-logo-bar-left"></div>
            <div class="map-logo-bar-right"></div>
        </div>
        <a href="#" class="map-header-btn map-header-locate-btn"></a>
        <a href="#" class="map-header-btn map-header-search-btn"></a>
    </div>

    <div class="hidden-xs hidden-print sidebar-section map-header-content">
        <div class="map-header-content-default">
            <div>
                Who owns NYC's public spaces?
            </div>
            <div>
                Type an address, zip, or neighborhood to find out!
            </div>
        </div>

        <div class="map-header-content-filters">
            {% include "livinglots/lots/filters.html" %}
        </div>

        <div class="map-header-content-details">
            {% include "livinglots/lots/details.html" %}
        </div>
    </div>

    {# TODO move to own template with room for numbers #}
    <div id="map-legend" class="map-legend sidebar-section hidden-print">
        <div>
            <a class="legend-button filter-button" href="#">
                Filter
            </a>
            <a class="legend-button details-button" href="#">
                Details
            </a>
            <h2><span class="lots-count"></span> Properties</h2>
        </div>

        <div>
            <span class="legend-marker legend-marker-priority"></span>
            <label class="legend-label">
                {% trans "Priority" %}
            </label>
            <span class="legend-count legend-count-priority" data-type="priority">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-organizing"></span>
            <label class="legend-label">
                {% trans "Organizing" %}
            </label>
            <span class="legend-count legend-count-organizing" data-type="organizing">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-priority-organizing"></span>
            <label class="legend-label legend-label-priority-organizing">
                {% trans "Organizing & Priority" %}
            </label>
            <span class="legend-count legend-count-priority-organizing" data-type="priority-organizing">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-vacant_lot"></span>
            <label class="legend-label">
                {% trans "Vacant Lot / Garden" %}
            </label>
            <span class="legend-count legend-count-vacant_lot" data-type="vacant_lot">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-library"></span>
            <label class="legend-label legend-label-organized">
                {% trans "Library" %}
            </label>
            <span class="legend-count legend-count-library" data-type="library">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-post_office"></span>
            <label class="legend-label legend-label-organized">
                {% trans "Post Office" %}
            </label>
            <span class="legend-count legend-count-post_office" data-type="post_office">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-waterfront"></span>
            <label class="legend-label legend-label-organized">
                {% trans "Waterfront" %}
            </label>
            <span class="legend-count legend-count-waterfront" data-type="waterfront">0</span>
        </div>
        <div>
            <span class="legend-marker legend-marker-public_housing"></span>
            <label class="legend-label legend-label-organized">
                {% trans "Public Housing Sites" %}
            </label>
            <span class="legend-count legend-count-public_housing" data-type="public_housing">0</span>
        </div>
    </div>

    <div class="sidebar-section recent-activity hidden-xs">
        <h2>{% trans "Recent Activity" %}</h2>
        <div class="activity-stream"></div>
    </div>
</div>

<div class="admin-menu">
    <section>
        <a class="admin-button-add-lot btn btn-default btn-block">
            {% trans "add lot" %}
        </a>
    </section>
</div>

<div class="map-search">
    <img src="{% static "img/search-large.png" %}" />
    <form class="map-search-form" data-bounds="[-74.304657,40.476203,-73.678436,40.939452]" data-city="New York" data-state="NY" data-error-message="Could not find your location. Try again?" data-warning-selector="map-search.warning">
        <input id="search" name="search" placeholder="{% trans "Search by address, zip code" %}" type="text" />
        <button class="map-search-submit btn btn-default" type="submit">{% trans "Search" %}</button>
        <div class="warning" style="display: none;"></div>
    </form>
    <a href="#" class="map-search-close"></a>
</div>

<div class="menu-expanded">
    <ul class="nav navbar-nav">
        {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
        {% for page in mainmenu %}
            <li>
                {% feincms_nav page level=3 depth=1 as submenu %}
                {% if submenu %}
                    {# Don't link to top-level items with subpages #}
                    <a class="mainmenu-item-parent">{{ page.title }}</a>
                    <ul class="submenu">
                        {% for submenupage in submenu %}
                            <li>
                                <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        {% if user.is_superuser %}
            <li>
                <a href="/extra-admin/">Admin</a>
            </li>
        {% endif %}
    </ul>
</div>

<div class="map-icon map-icon-organizing">
    {% svg "organizing" %}
</div>
