{% load blog_widgets feincms_tags feincms_page_tags i18n inplace_tags static svg %}

{% include "_header.html" %}

<script id="popup-template" type="text/x-handlebars-template">
    {% verbatim %}
        <div id="popup">
            <section class="lotpopup">
                <div class="row">
                    <div class="popup-streetview">
                        <img src="https://maps.googleapis.com/maps/api/streetview?key=AIzaSyDBsHp9HW4N8awTsQQw7qhZ5tCrMH4Nhd0&location={{centroid.y}},{{centroid.x}}&size=122x122&sensor=false&fov=45" />
                    </div>
                    <div class="popup-lot-details">
                        <header>
                            <span class="lot-popup-icon{{#if priority}} priority {{/if}}{{#if organizing}} organizing {{/if}} {{commons_type_slug}}"></span>
                            <a target="_blank" href="{{url}}">{{name}}</a>
                        </header>
                        <div class="owner">Owned by <span class="owner-value">{{owner}}</span></div>
                        <a target="_blank" href="{{url}}" class="btn btn-default">learn more</a>
                    </div>
                </div>
            </section>
        </div>
    {% endverbatim %}
</script>

{% include "actstream/_activity_list_template.html" %}

<script>
    {% if debug %}
        window.django_debug = true;
    {% else %}
        window.django_debug = false;
    {% endif %}
    window.mapScreenshotUrl = '{% inplace_setting MAP_SCREENSHOT_URL %}';
</script>

<div id="map"
    data-l-zoom="11"
    data-l-center="[40.73, -73.99]"
    data-l-zoom-control="false"
    data-l-scroll-wheel-zoom="false"

    data-l-lot-tiles-url="{% inplace_setting LOT_TILES_URL %}"
    data-l-parcels-url="{% inplace_setting PARCELS_URL %}"
    data-l-add-lot-parent=".map-add-lot-mode"
>
</div>

<div class="map-menu hidden-print">
    <div class="social-media">
        <a href="https://www.facebook.com/NYCommons/" class="social-media-facebook" target="_blank"></a>
        <a href="http://twitter.com" class="social-media-twitter" target="_blank"></a>
        <a href="http://instagram.com" class="social-media-instagram" target="_blank"></a>
        <a href="http://github.com/nycommons" class="social-media-github" target="_blank"></a>
    </div>

    <button type="button" class="hidden-xs navbar-toggle menu-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>

<div class="map-sidebar">
    <div class="map-logo-wrapper hidden-xs">
        <img src="{% static "img/logo.png" %}" />
        <div class="map-logo-bar">
            <div class="map-logo-bar-left"></div>
            <div class="map-logo-bar-right"></div>
        </div>
    </div>

    <div class="sidebar-section map-header-content">
        <div class="hidden-print map-header-content-default">
            <div class="map-header-tagline">
                {% trans "Who owns NYC's public spaces?" %}
            </div>
            <div>
                {% trans "Use this map to find out!" %}
            </div>
            <a href="#" class="map-header-btn map-header-locate-btn hidden-print"></a>
            <a href="#" class="map-header-btn map-header-search-btn hidden-print"></a>
            <div class="map-search">
                <a href="#" class="map-search-close"></a>
                <img src="{% static "img/search-large.png" %}" />
                <form class="map-search-form" data-bounds="[-74.304657,40.476203,-73.678436,40.939452]" data-city="New York" data-state="NY" data-error-message="Could not find your location. Try again?" data-warning-selector="map-search.warning" data-lot-search-url="{% url "lots:search" %}">
                    <input id="search" name="search" placeholder="{% trans "Search by address, zip code" %}" type="text" />
                    <button class="map-search-submit btn btn-default" type="submit">{% trans "Search" %}</button>
                    <div class="warning" style="display: none;"></div>
                </form>
            </div>
        </div>

        <div class="map-header-content-filters">
            {% include "livinglots/lots/filters.html" %}
        </div>

        <div class="map-header-content-details">
            {% include "livinglots/lots/details.html" %}
        </div>

        <div class="map-header-content-activities expanded">
            {% include "livinglots/lots/_activities.html" %}
        </div>

        {% if user.is_superuser %}
            <div class="map-header-content-admin">
                {% include "livinglots/lots/_admin.html" %}
            </div>
        {% endif %}
    </div>

    <div id="map-legend" class="map-legend sidebar-section hidden-print">
        {% include "livinglots/lots/_legend.html" %}
    </div>

    <div class="sidebar-section recent-activity hidden-xs hidden-print">
        {% include "livinglots/lots/_activities.html" %}
    </div>

    {% if user.is_authenticated %}
        <div class="sidebar-section sidebar-section-admin hidden-xs hidden-print">
            <h2>{% trans "Admin" %}</h2>
            <a href="#" class="sidebar-section-admin-expand"></a>
        </div>
    {% endif %}
</div>

<div class="menu-expanded">
    <button type="button" class="hidden-xs navbar-toggle menu-button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav">
        {% feincms_nav feincms_page level=2 depth=1 as mainmenu %}
        {% for page in mainmenu %}
            <li>
                {% feincms_nav page level=3 depth=1 as submenu %}
                {% if submenu %}
                    {# Don't link to top-level items with subpages #}
                    <a class="mainmenu-item-parent">{{ page.title }}</a>
                    <ul class="submenu">
                        {% for submenupage in submenu %}
                            <li>
                                <a href="{{ submenupage.get_absolute_url }}">{{ submenupage.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <a href="{{ page.get_absolute_url }}">{{ page.title }}</a>
                {% endif %}
            </li>
        {% endfor %}
        {% if user.is_superuser %}
            <li>
                <a href="/extra-admin/">Admin</a>
            </li>
        {% endif %}
    </ul>
</div>

<div class="map-icon map-icon-organizing">
    {% svg "organizing" %}
</div>

<div class="print-mode">
    <div><p>This is a preview of your printed map. If you're happy with it, go ahead and print. If you'd like the map to be show another part of the city, go back to the map, move the map, then print again.</p></div>
    <a href="#" class="btn btn-default print-mode-print">Print</a>
    <a href="#" class="btn btn-default print-mode-exit">Back to map</a>
</div>
